.sidebar-link{
    color: #fff !important;
}

.la-md-2x{
    font-size:20px !important;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    vertical-align: -2px;
    float: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.sidebar-wrapper{
    bottom:40px;
}