.sidebar-link{
    color: #fff !important;
}

.la-md-2x{
    font-size:20px !important;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    vertical-align: -2px;
    float: none;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.sidebar-wrapper{
    bottom:40px;
}

.list-group .list-group-item{
    padding:6px;
}

.dropdown-menu{
    background:#fff;
}
.dropdown-menu .dropdown-item{
    background: none;;
}

table.dataTable.dtr-inline.collapsed > tbody > tr[role=row] > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr[role=row] > th:first-child:before {
    top: 20px;

}

.card .card-header{
    padding:10px;
}