
.calculator {
    position: fixed;
    bottom: 2.5rem;
    right: 5rem;
    background-color: var(--bg-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    padding: .5rem;
    width: 16rem;
    z-index: 9999;
    transition: ease 2s;
}

.calculator-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*margin-bottom: 1rem;*/
}

.calculator-title {
    font-weight: bold;
    color: var(--text-color);
}

.toggle-button {
    color: var(--text-color);
    background-color: var(--button-bg-color);
    padding: 0.5rem;
    border-radius: 0.25rem;
}

.calculator-display {
    width: 100%;
    padding: 0.5rem;
    text-align: right;
    background-color: var(--input-bg-color);
    color: var(--text-color);
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.calculator-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
}
.toggle-button, .calculator-display, .calculator-button, .scientific-button{
    border:none;
}

.calculator-button {
    padding: 0.5rem;
    background-color: var(--button-bg-color);
    border-radius: 0.25rem;
}

.operator-button {
    background-color: var(--operator-bg-color);
}

.equal-button {
    grid-column: span 4;
    background-color: var(--equal-bg-color);
}

.scientific-button {
    margin-top: 1rem;
    width: 100%;
    padding: 0.5rem;
    background-color: var(--button-bg-color);
    border-radius: 0.25rem;
}

.scientific-operations {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
    margin-top: 1rem;
}

.hidden {
    display: none;
}

:root {
    --bg-color: #ffffff;
    --text-color: #1a202c;
    --button-bg-color: #e2e8f0;
    --operator-bg-color: #f6ad55;
    --equal-bg-color: #48bb78;
    --input-bg-color: #edf2f7;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: #1a202c;
        --text-color: #edf2f7;
        --button-bg-color: #4a5568;
        --operator-bg-color: #dd6b20;
        --equal-bg-color: #2f855a;
        --input-bg-color: #2d3748;
    }
}
